@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: $background;
  // font-weight: bold;
  // font-size: 1rem;
}

#header {
  text-align: center;
  margin-top: 40px;
  color: white;
}

.playing-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-inline: auto;
  margin-top: 40px;
  width: 340px;
  height: calc(340px * 6/7);
  border: 2px solid $gameboardBorder;
  background-color: $gameboard;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 10px;

  &__token-space {
    border-radius: 100%;
    width: calc(90% / 7);
    height: calc(90% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    border: solid 1px $gameboardBorder;
  }  

  .player-one {
    background-color: $playerOne;
    border-radius: 100%
  }
  
  .player-two {
    background-color: $playerTwo;
    border-radius: 100%
  }

}

#current-player {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

#winner {
  text-align: center;
}

.player-one-turn {
  color: $playerOne;
}

.player-two-turn {
  color: $playerTwo;
}

